/* section */
#cover {
    width: 100%;
    height: 60vh;
    background: url('../img/hero-bg.jpg') center;
    background-size: cover;
    position: relative;
  }
  #cover h1 {
    color: #fff;
  }
  #cover h1 span{
    border-bottom: 4px solid #3498db;
  }
  #cover h3 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
  }
  #cover a {
    background: #3498db;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 28px;
  }
  #cover:before {
    content: "";
    background: rgba(56, 64, 70, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #cover .container {
      z-index: 2;
  }